.fragment_logo{
    font-family: 'Titillium Web', sans-serif;
}

.fragment_footer_button{
    font-size: .6rem;
}

.fragment_footer{
    text-align:center;
    margin-top: 2rem;
}

.fragment_header{
    text-align:center; margin: 2rem 0;
}


