.fragment_logo{
    font-family: 'Titillium Web', sans-serif;
}

.fragment_footer_button{
    font-size: .10rem;
}

.fragment_footer{
    text-align:center;
    margin-top: 2rem;
}

.fragment_header{
    text-align:center; margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}