
    <div class="fragment_header">
        <div>
            <h1 class="fragment_logo">Fragment</h1>
        </div>
        <div class="fragment_header_navbar">
            <a href="{% url 'articleapp:list' %}" class="fragment_header_nav">
                <span>Articles</span>
            </a>
            <a href="{% url 'projectapp:list' %}" class="fragment_header_nav">
                <span>Projects</span >
            </a>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="fragment_header_nav">
                <span>login</span>
            </a>
            <a href="{% url 'accountapp:create' %}" class="fragment_header_nav">
                <span>Sign Up</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}" class="fragment_header_nav">
                <span>MyPage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="fragment_header_nav">
                <span>logout</span>
            </a>
            {% endif %}
        </div>
    </div>
